*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.e-commerce-cards img{
    width: 100%;
    height: 200px;
}
.e-commerce-cards{
    box-shadow: 1px 1px 5px 0px;
}
.click-button{
    display: none;
    position: fixed;
    left: 0;
    bottom: 20px;
}
.click-button-active{
    display: block;
}
.navigation{
    position: sticky !important;
    top: 0;
}
.cart i{
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 0px;
}
.cart p{
    padding: 0px 5px;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: -30px;
}
.cart-items{
position: fixed;
top: 0;
right: 0;
width: 30%;
background-color: #fff;
height: 100vh;
overflow-y: scroll;
transform: translateX(100%);
transition:all 0.4s ease-in-out ;
}
.cart-items-active{
    transform: translateX(0%);
    transition:all 0.4s ease-in-out ; 
}
.cart-items-list img{
    width: 70px;
    height: 70px;
    border-radius: 50%;


}
.cart-items-list{
    justify-content: space-between;
}

.unorderlist{
    display: flex;
    justify-content:space-between;
}
.delete-button{
    display: none;
}
.complete-active{
    text-decoration: line-through;
}